/*
-Imagenes con menos de 256 colores o con canales de transparencia se usa png ,
imagenes con mayor cantidad de colores como una foto se usa jpg

-Para que una imagen se vea bien en monitores "retina display"
debemos exportar la imagen al doble de su resolucion original,
quiere decir que si tienes un logo de 80x80pix debes exportarlo
a 160x160pix y achicarlo con css, para conservar la calidad en "retina display"

(con los jpg podemos exportar al doble de la resolucion y al 50% de la calidad
para que sea mas compacta en tamaño y se va a ver bien)

-Los valores DPI de las imagenes no sirven para nada en la web, solo
sirven para temas de impresion.

 */

/*

    REGLAS DE CODIFICACIÓN EN CSS

    1. Todos los atributos en orden alfabético
    2. Orden de estilos:
        *. pre-render (@font-face,@media-query)
        1. etiquetas
        2. IDs
        3. Clases
    3. Orden alfabético todos los estilos
    4. Identar y hacer código LINDO

 */
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

a
{
	color: #DD4F24;
}
body
{
	background: #EFEFEF;
	color: #4C4C4C;
	font-family: "PT Sans", Arial;
	font-size: 16px; /* Aconsejable que tamaño sea 16 para lectura como minimo */
	margin: 0;
}
footer
{
    background: #434343;
    color: #A7A7A7;
    padding: 5em 0;
    text-align: center;
    width: 100%;
}
footer p
{
    margin: 0;
}
header
{
	background: #434343;
	color: white;
	/*
    Pensar en pixeles en margenes y padding segun mejorando.la es un error
    se debe usar valores expresados en "em", el cual es valor variable en css
    que es relativo al tamaño de fuente mas cercana dirigiendo hacia arriba en el
    arbol de html (busqueda hacia los padres del elemento).
    Es mejor pensar en margenes y padding relativos al tamaño de fuentes y no
    al pixel perfect debido a las diferentes resoluciones en las que
    se puede visualizar nuestra pagina
    (em puede ser aplicado a cualquier cosa no especialmente margin y padding)
    */
    margin: 0;
	padding: 0.5em; /* En este caso 1em -> 16px y 0.5em -> 8px */

	/*
    Por ultimo los elementos inline no son cajas por lo tanto no se les puede
    aplicar margin ni padding (algunos casos en que si se puede),
    etc es como si fueran texto flotante,
    aplicando inline-block puedes darle estilos como caja
    */
    position: relative;
}
header:after{
    clear: both;
    content: "";
    display: block;
}
header figure
{
    float: left;
}
header h1
{
    display: block;
	font-size: 20px;
	font-weight: normal;
	margin: 1em 85px 1em 100px;
}
header #avatar
{
	position:  absolute;
    top: 0;
    right: 0;
    margin: 1em 1em 0 0;
}
header #avatar figcaption
{
	background: #22BCE0;
	float: right;
	height: 50px;
    /* la manera mas facil de centrar texto verticalmente es hacer el tamaño
    de las lineas igual al tamaño de la altura del contenedor
    */
    line-height: 50px; /* tamaño de linea igual al contenedor */
}
header #avatar figcaption::after
{
    content: "\e001";
    font-family: "icomoon";
    font-size: 0.7em;
    opacity: 0.5;
}
header #avatar img
{
	float: left;
	/* Solo se coloca el ancho y el alto automaticamente lo calcula el navegador */
	width: 50px;
}
header #logo img
{
	width: 80px;
}
nav
{
	background: #878787;
	color: white;
	font-size: 0.9em;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	margin: 0 1.2em 0 0;
	vertical-align: top;
}
nav ul li a
{
	color:  white;
	display: block;
	padding: 0.5em 0;
}
nav #flechita_nav
{
	background: #22BCE0;
}
nav #flechita_nav a
{
	padding: 0.5em 0;
	text-decoration: none;
    opacity: 0.6;
}
nav #flechita_nav a::after
{
    content: "\e000";
    font-family: "icomoon";
}
nav #publicar_nav
{
	background: #DD4F24;
	float: right;
	margin-right: 0;
    padding-right: 0.8em;
    position: relative;
}
nav #publicar_nav::after
{
    color: rgba(255,255,255,0.5);
    content: "\e004";
    font-family: "icomoon";
    font-size: 1.7em;
    position: absolute;
    right: 0;
    top: 0;
}
nav #publicar_nav a
{
    display: inline-block;
	padding: 0.5em 1em;
    position: relative;
	text-decoration: none;
}
#bienvenida
{
    display: none;
}
#contenido
{
	margin: 1em;
}
#contenido .item
{
	background: white;
    border-bottom: 3px #22BCE0 solid;
    margin-bottom: 3em;
    min-height: 128px;
    position: relative;
}
#contenido .item p
{
    color: #7A7A7A;
    font-size: 0.9em;
}
#contenido .item .datos_item
{
    text-align: right;
}
#contenido .item .datos_item .comentarios_item
{
    background: #878787;
    border-radius: 4px;
    color: white;
    margin: 0 0 0 2em;
    padding: 4px;
    position: relative;
    text-decoration: none;
}
#contenido .item .datos_item .comentarios_item::after
{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #878787;
    content: "";
    left: 10px;
    position: absolute;
    top: 100%;
}
#contenido .item .datos_item .guardar_item
{
    margin: 0 1em;
    text-decoration: none;
}
#contenido .item .datos_item .guardar_item::after
{
    content: "\e003";
    color: #fD5;
    font-family: "icomoon";
}
#contenido .item .datos_item .tag_item
{
    background: #22BCE0;
    border-radius: 0.5em;
    color: white;
    float: left;
    padding: 0.2em 0.5em;
    text-decoration: none;
}
#contenido .item .imagen_item
{
	float: left;
	margin: 0 0.5em 0 0;
}
#contenido .item .imagen_item img
{
	width: 96px;
}
#contenido .item .titulo_item
{
	font-size: 1rem;
    font-style: italic;
	padding: 0.5em 0.5em 0;
}
#contenido .item .titulo_item a
{
	color: #444;
	text-decoration: none;
}
#contenido .item .votacion
{
    background: #fff;
    padding: 0.5em 0;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 96px;
}
#contenido .item .votacion a
{
    text-decoration: none;
}
#contenido .item .votacion .down::after,
#contenido .item .votacion .up::after
{
    font-family: "icomoon";
    font-size: 1.5em;
    vertical-align: bottom;
}
#contenido .item .votacion .down::after
{
    color: red;
    content: "\e001";
}
#contenido .item .votacion .up::after
{
    color: green;
    content: "\e002";
}
.selectoConflicto
{
	es: "";	
}






