/*
Conceptos de "referencia" sobre la resolucion de dispositivos
    < 768px es un mobil
    768 - 1300 es una tablet o laptop
    >1300 resoluciones mas amplias
    (si la aplicacion requiere un diseño en particular para aprovechar
    las resoluciones amplias, se aplica.. si no es asi NO!)
*/
@media screen and (min-width: 768px){
    body
    {
        margin: 0 auto;
        max-width: 1200px;
    }
    #bienvenida
    {
        border-bottom: 1px solid #CCC;
        display: block;
        float: right;
        margin-right: 2px;
        width: 25%;
    }
    #bienvenida h2
    {
        color: #434343;
    }
    #bienvenida #mensaje_registro,
    #bienvenida #registro
    {
        text-align: center;
    }
    #bienvenida #mensaje_registro
    {
        font-size: 0.8em;
    }
    #bienvenida #registro
    {
        background-color: #22BCE0;
        color: white;
        display: block;
        font-size: 1.2em;
        padding: 0.5em 0;
    }
    #contenido
    {
        width: 70%;
    }
    /* COMEBTARIO 3 */
}
