/*
Conceptos de "referencia" sobre la resolucion de dispositivos
    < 768px es un mobil
    768 - 1300 es una tablet o laptop
    >1300 resoluciones mas amplias
    (si la aplicacion requiere un diseño en particular para aprovechar
    las resoluciones amplias, se aplica.. si no es asi NO!)
*/
@media screen and (min-width: 768px){
    body
    {
        border: 3px solid red;
        margin: 0 auto;
        max-width: 1200px;
    }
    #contenido
    {
        width: 70%;
    }
}